* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #393737;
    margin: 0;
}


.joke-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #353434;
}

/* select option */

.filters{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.category-box, .type-box{
    display: flex;
    flex-direction: column;
}


.joke {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
    /* padding: 10px 0; */
    border-radius: 8px;

}

#setup {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

#single-jokes{
    font-size: 18px;
    font-weight: bold;
    color:rgb(102, 16, 194);

}

.punchline {
    font-size: 18px;
    font-weight: bold;
    color: green;
    /* padding: 10px 0; */
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #1b63ac;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #084a87;
}